{% set page = item.object %}

<div class="item sylius-cms-page">
    <a href="{{ nglayouts_item_path(item) }}">
        <div class="content">
            <h3>{{ page.name }}</h3>
        </div>
    </a>
</div>
