{% set page = item.object %}

<div class="item sylius-cms-page">
    <a href="{{ path('sylius_cms_shop_page_show', { 'slug' : page.slug }) }}">
        <div class="content">
            <h3>{{ page.name }}</h3>
        </div>
    </a>
</div>
