{% extends '@nglayouts/block/block.html.twig' %}

{% block content %}
    {% set field_identifier = block.parameter('field_identifier').value %}
    {% set field = block.dynamicParameter('field') %}

    {% block bitbag_entity_field %}
        {% if field is not empty %}
            {% if field.type == enum('Netgen\\Layouts\\Sylius\\BitBag\\Block\\BlockDefinition\\Handler\\BitBagEntityFieldType').Content %}
                <div class="field field-{{ field.type.value }} field-{{ field_identifier }}">
                    {{ bitbag_cms_render_content(field.value) }}
                </div>
            {% else %}
                {{ 'bitbag.field_not_compatible'|trans({'%field_identifier%': field_identifier}, 'bitbag') }}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
